
<!--<div class="row">
    <div class="col">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="$key" placeholder="UserName">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        </div>

       <form [formGroup]="userprofileForm"(ngSubmit)="onSubmit()">
           <label>
               ID:
               <input type="text" formControlName="id">
           </label>

           <label>
                username:
                <input type="text" formControlName="username">
            </label>
            <label>
                    email:
                    <input type="text" formControlName="email">
                </label>
                <button type="submit">Submit</button>
       </form>
    -->
<div class="row">
  <div class="col-md-4"> </div>
    <div class="col-md-4 bg-light shadow-lg">
        <button mat-stroked-button color="primary">    <a routerLink="/ViewUser" class="btn btn-primary btn-block">View User</a></button>
        <button mat-stroked-button color="primary">  <a routerLink="/NewUser" class="btn btn-primary btn-block">New User</a></button>

  
  </div>
  <div class="col-md-4"></div>
</div>