mat-form-field {
    width: 100%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.row .col{
    padding: 1.5rem;
    width: 50%;
    flex-grow: 1;
    min-width: 250px;
    flex-basis: 250px;
}