<p>Logged in as: {{us.currentUser.username}}</p>

<mat-tab-group>
    <mat-tab label="Campaigns"> Campaign Login successfull.
        <a routerLink="/">Logout</a>
        <app-form-pop-up (addEntry)="onentry($event)"></app-form-pop-up>
        
<div *ngIf="dataSource">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="Brand">
                <th mat-header-cell *matHeaderCellDef>Advertiser Name </th>
                <td mat-cell *matCellDef="let element"> {{element.Brand}} + {{element.country}}</td>
              </ng-container>

            <ng-container matColumnDef="$key">
              <th mat-header-cell *matHeaderCellDef> Placement Name </th>
              <td mat-cell *matCellDef="let element"> {{element.country}}+{{element.Screen}}+{{element.$key}}+{{element.SiteName}}+{{element.Medium}}+{{element.Placement}}+{{element.Targeting}}+{{element.BuyType}}+{{element.BannerType}}+{{element.UnitSize}}+{{element.FlightDate}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="campaignName">
              <th mat-header-cell *matHeaderCellDef> campaign Name </th>
              <td mat-cell *matCellDef="let element"> {{element.campaignName}}+{{element.country}}+{{element.country}}+{{element.Objective}}+{{element.Medium}}+{{element.launchDate}} </td>
            </ng-container>

            <ng-container matColumnDef="CreativeName">
                <th mat-header-cell *matHeaderCellDef>Creative Name</th>
                <td mat-cell *matCellDef="let element"> {{element.CreativeName}} </td>
              </ng-container>

              <ng-container matColumnDef="BaseURL">
                  <th mat-header-cell *matHeaderCellDef>URL Tracking</th>
                  <td mat-cell *matCellDef="let element"> {{element.BaseURL}} </td>
                </ng-container>
         
    
            <ng-container matColumnDef="functions">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="primary" (click)="deleteElement(element)">delete</button>
                </td>
              </ng-container>

            
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>


          <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

    </div>
    <!-- <button mat-button mat-fab>Add</button> -->
  
    </mat-tab>




    
    <mat-tab label="Admin" *ngIf="us.currentUser.username === 'admin'"> Admin Login successfull.
        <a routerLink="/">Logout</a>
         <app-admin>User Management</app-admin> 

    </mat-tab>
</mat-tab-group>
